<?xml version="1.0"?>
<launch>
 
  <!-- Load PyTorch model and model stats -->
  <param name="pytorch_model_stats"
    value="$(find myo_gestures)/config/combined_transfer_data_argtest1_stats.txt" />

  <param name="pytorch_model"
    value="$(find myo_gestures)/config/combined_transfer_data_argtest1_XL.pt" />

  <arg name="myo_sim" default="false" />

    <!-- <include file="$(find hdt_6dof_a24_pincer_bringup)/launch/hdt_arm_bringup_1.launch">
    </include> -->

  <!-- Run real time prediction node-->
  <node name="gesture_command" pkg="gesture_control" type="adroit_gesture_command.py" output="screen" >
    <param name="sim" value= "$(arg myo_sim)"/>
  </node>
  <node name="real_time" pkg="gesture_control" type="real_time.py" output="screen" />
  <!-- <node name="gesture_command" pkg="gesture_control" type="adroit_gesture_command.py" output="screen" /> -->

  <!-- <include file="$(find hdt_6dof_a24_pincer_bringup)/launch/hdt_arm_bringup_1.launch">
    </include> -->

</launch>
